@import url("https://fonts.googleapis.com/css2? family= Fredoka:wght@300 & display=swap");

body {
  background-image: radial-gradient(
    circle at 119.77% 50%,
    #296b46 0,
    #1d6946 25%,
    #0b6746 50%,
    #006546 75%,
    #006347 100%
  );
  font-family: "Fredoka", sem serifa;
}

.container {
  background: #ecf4ff;
  color: #1c1c1c;
  margin: 64px;
  border-radius: 20px;
  box-shadows: 6px 6px 6px #0e1d2f;
  padding: 64px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.tema button {
  align-self: flex-end;
  font-weight: 400;
  font-size: 24px;
  padding: 8px 16px;
  background: #ecf4ff;
  border-radius: 100px;
}

.projetos {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    180deg,
    #b4f2a0 0,
    #a1ec9c 16.67%,
    #89e397 33.33%,
    #6cd890 50%,
    #49cd8a 66.67%,
    #10c488 83.33%,
    #00bd88 100%
  );
  margin-top: 32px;
  padding: 32px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
}

.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}

.projetos-item {
  list-style-type: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
}

.projetos-item a {
  color: #1c1c1c;
  text-decoration: none;
}

.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
}

.dark .projetos {
  color: #1c1c1c;
}

.dark .tema button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}